.blog__cards {
  padding: 9rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.blog__card {
  width: calc((100% - 4rem) / 3);
  padding: 3rem;
  outline: 1px solid var(--border-color);
  margin-bottom: 2rem;
  background-image: url(../imgs/blog-2.jpg);
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.blog__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #100028;
  z-index: -1;
  transition: var(--transition-timing);
}
.blog__card:hover::after {
  background-color: transparent;
}
.blog__card h3 {
  line-height: 31px;
  margin-bottom: 18px;
  font-size: 2.4rem;
}
.date {
  color: #777777;
  font-size: 1.4rem;
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.blog__txt {
  font-size: 1.6rem;
  color: var(--p-color);
}

.read__more {
  font-size: 1.6rem;
  color: var(--white-color);
  margin-top: 2.3rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.read__more i {
  color: gray;
  font-size: 1rem;
  padding-top: 0.6rem;
  transition: all 0.5s;
}
.read__more a {
  transition: all 0.5s;
}
.read__more:hover a {
  color: var(--main-color);
}
.read__more:hover i {
  color: var(--main-color);
  transform: translateX(7px);
}

@media screen and (max-width: 992px) {
  .blog__card {
    width: calc((100% - 2rem) / 2) !important;
  }
}

@media screen and (max-width: 768px) {
  .blog__card {
    width: 100% !important;
  }
}
